@model IEnumerable<ELMCOM.Web.Areas.Test.Models.ExamAnswerSubmissionViewModel>

@{
    ViewData["Title"] = "";
}

<div class="card">
    <div class="card-header">
        <div class="col-sm-12">
            <label class="card-title">Student Exam Answer</label>
        </div>
    </div>
    <div id="viewAll" class="card-body table-responsive">

        <table class="table table-hover table-bordered" id="tableStudentExamAnswer">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Exam.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ObtainedScore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AnswerSheet)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exam.TotalScore)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exam.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObtainedScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerSheet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exam.TotalScore)
                    </td>

                    <td>

                        @{
                            if (!string.IsNullOrEmpty(item.Exam.ExamPaper))
                            {
                                <a asp-action="DownloadExam" asp-controller="StudentExamAnswers"
                                   asp-route-id="@item.Exam.ExamPaper" class="btn btn-xs bg-info"
                                   title="Download Exam"><i class="fas fa-download"></i> @Html.DisplayFor(modelItem => item.SubmissionDate)</a>

                            }

                            if (item.ExamDate > DateTime.Now)
                            {
                                <a asp-action="SubmitExam" asp-route-examid="@item.ExamId" asp-route-courseid="@item.Exam.Course.Id" class="btn btn-xs bg-success" title="Edit">Submit Answers</a>
                                @*<a asp-action="Details" asp-route-id="@item.AssignmentId" class="btn btn-xs bg-info" title="Details"><i class="fas fa-eye"></i></a>*@
                            }
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#tableStudentExamAnswer").DataTable();
        });
    </script>
}